body {
    background-color:black;
    color:yellow;
}

input {
    background-color:black;
    color:yellow;
}

input[disabled] {
    background-color:gray;
    color:olive;
}

select {
    background-color:black;
    color:yellow;
}
