/* Version 2.0 */

/* box-model: sizes include padding and border */
html {
  box-sizing: border-box;
}
*, ::before, ::after {
  box-sizing: inherit;
}

/* Hyphanation */
html {
    -moz-hyphens:auto;
    -webkit-hyphens:auto;
    -ms-hyphens:auto;
    hyphens:auto;
}

/* is the selector for touchscreen discovery working? */
#touch-screen {
    display:none;
}

@media screen and (pointer:coarse) and (hover:none)
{
    #touch-screen {
        display:inherit;
    }
    #touch-screen h1 {
        text-align:center;
    }
}

*[lang|=ru] {
    font-family:sans-serif;
}

body {
    font-family:serif,sans-serif;
    font-size:0.9em;
    line-height:1.1em;

    display:flex;
    flex-direction:column;

    height:100vh;
    min-height:100vh;
}

header {
    order:1;
    flex:none;
    display:flex;
    flex-direction:column;
}

header > h1 {
    margin:5px;
    font-style:italic;
    font-variant:small-caps;
    font-size:2em;
    text-align:center;
}

header >  h2 {
    width:50%;
    border:solid thin red;
    border-radius: 4px;
    margin:5px;
    font-style:italic;
    font-size:1.3em;
    font-weight:bold;
    font-variant:small-caps;
    text-align:center;
    align-self:center;
}

h1 {
    text-align : right;
}

main {
    order:2;
    flex:1 0 auto;
    width:100%;
}


footer {
    order:3;
    flex:none;
    display:flex;
    flex-direction:row;
}

nav {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

nav > * {
    flex:none;
    margin:10px;
    border:solid thin red;
}

@media screen and ( min-width : 800px ) {
    nav {
        flex-direction:row;
    }

    header {
    }

    main {
    }

    footer {
    }
}

@media screen and ( max-width : 799px ) {
    nav {
    font-style:italic;
    font-weight:bold;
    font-variant:small-caps;
    }
}

.ccontainer {
    display:flex;
    flex-direction:column;
}

.rcontainer {
    display:flex;
    flex-direction:row;
}

.between {
    justify-content:space-between;
}

/* begin - alertboxes - from bootstrap */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
/* end - alertboxes */

/* begin - closable objects - from bootstrap */
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
/* end - closable objects */

#fuss-text {
    order:1;
    flex:1 0 auto;
    width:40%;
    max-width:40%;
}

#version {
    order:2;
    flex:1 0 auto;
    width:40%;
    text-align:right;
}

td, th {
    padding:0.2em;
}

/* Formulare */

#search_form {                      /* suchen eines spielers / einer allianz */
    width:50%;
    border:solid thin red;
}

#col_add_form {                     /* hinzufügen / löschen einer kolonie */
    width:50%;
    border:solid thin red;
}

/* Ausgaben */

#search_res {                       /* gefundene kolonien */
    width:40%;
    border:solid thin red;
}

/* sonstiges */

:lang(de)    { quotes:"\201E" "\201C" "\201A" "\2018"; }
:lang(de-DE) { quotes:"\00BB" "\00AB" "\203A" "\2039"; }
:lang(de-CH) { quotes:"\00AB" "\00BB" "\2039" "\203A"; }
:lang(en)    { quotes:"\201C" "\201D" "\2018" "\2019"; }
:lang(fr)    { quotes:"\00AB\00A0" "\00A0\00BB" "\2039\00A0" "\00A0\203A"; }

code:before { content:open-quote; }
code:after  { content:close-quote; }
