body {
    background-color:black;
    color:yellow;
}

input {
    background-color:black;
    color:yellow;
}

select {
    background-color:black;
    color:yellow;
}

h1 {
}

/* Feste Positionenen für die 3 Bereiche */
#kopf {
    position:fixed;
    top:0px;
    width:90%;
    height:5.8em;
    margin-left:5%;
    margin-right:5%;
}

#kopf hr {
    display:none;
}

#koerper {
    border:solid thin green;
    width:90%;
    position:fixed;
    top:6em;
    bottom:1.5em;
    margin-left:5%;
    margin-right:5%;
    overflow:scroll;        /* i.a. mehr Inhalt als Platz => scrollbar */
}

#fuss {
    position:fixed;
    bottom:0px;
    width:90%;
    margin-left:5%;
    margin-right:5%;
    font-size:0.8em;
    text-align:left;
}
