/* Nur für Screens (PCs & Tablets?) */
body {
    background-color:white;
    color:black;
}

input {
    background-color:white;
    color:black;
}

select {
    background-color:white;
    color:black;
}

h1 {
}

/* Feste Positionenen für die 3 Bereiche */
#kopf {
    position:fixed;
    top:0px;
    width:90%;
    height:5.8em;
    margin-left:5%;
    margin-right:5%;
}

#kopf hr {
    display:none;
}

#koerper {
    border:solid thin green;
    width:90%;
    position:fixed;
    top:6em;
    bottom:1.5em;
    margin-left:5%;
    margin-right:5%;
    overflow:scroll;        /* i.a. mehr Inhalt als Platz => scrollbar */
}

#fuss {
    position:fixed;
    bottom:0px;
    width:90%;
    margin-left:5%;
    margin-right:5%;
    font-size:0.8em;
    text-align:left;
}

/* Positionen der Unterelemente von Kopf und Fuss */

#version {
    font-size:90%;
    position:absolute;
    right:0px;
    bottom:0px;
}

#admin_b {
    width:25%;
    position:absolute;
    bottom:1.5em;
    left:25%;
    text-align:center;
}

#sub_t {
    width:50%;
    border:solid thin red;
    position:absolute;
    bottom:0px;
    left:25%;
    font-style:italic;
    font-size:1.3em;
    font-weight:bold;
    font-variant:small-caps;
    text-align:center;
}

#logout_b {
    width:25%;
    position:absolute;
    bottom:0px;
    right:0px;
    text-align:right;
}

#konto_b {
    width:25%;
    position:absolute;
    bottom:1.5em;
    right:25%;
    text-align:right;
}

#theme_select {
    width:25%;
    position:absolute;
    bottom:1.5em;
    left:0px;
}
